@page
@model WEB_TechnoV1_PatrickRibeiro.Pages.SkillList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Skills</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Skills.id" />
            <div class="form-group">
                <label asp-for="Skills.id_contact" class="control-label"></label>
                <input readonly asp-for="Skills.id_contact" class="form-control" />
                <span asp-validation-for="Skills.id_contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills.skill" class="control-label"></label>
                <input asp-for="Skills.skill" class="form-control" />
                <span asp-validation-for="Skills.skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills.level" class="control-label"></label>
                <input asp-for="Skills.level" class="form-control" />
                <span asp-validation-for="Skills.level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.Skills.id_contact">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
